@import '../../../../styles/shared.scss';

.subscription {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i.icon {
    color: 'yellow';
  }

  .new-videos-count {
    color: 'red';
  }
}